@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --main-bg-gradient: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  --main-text-color: aliceblue;
  --main-font: 'Lato', sans-serif;
  --secondary-color: #688692;
  --selected-color: #b8e2f5;
  --occupied-color: #08181f;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--main-bg-gradient);
  display: flex;
  color: var(--main-text-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--main-font);
}

ul {
  list-style: none;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: var(--main-text-color);
  background-color: 0;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 15px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.container {
  perspective: 1000px;
}

.seat {
  background-color: var(--secondary-color);
  height: 15px;
  width: 18px;
  margin: 4px;
  border-radius: 3px;
  box-shadow: -1px 16px 19px 1px rgba(0, 0, 0, 0.67);
}

.seat.selected {
  background-color: var(--selected-color);
}

.seat.occupied {
  background-color: var(--occupied-color);
}

.seat:nth-of-type(3),
.seat:nth-of-type(7) {
  margin-left: 23px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.5);
}

.showcase {
  background: #10394e;
  padding: 10px;
  border-radius: 2px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showcase-item:hover {
  cursor: default !important;
  transform: scale(1) !important;
}

.showcase li {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: #b8e2f5;
  height: 100px;
  width: 100%;
  margin: 15px 0;
  border-radius: 2px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 20px 0;
}

p.text span {
  color: #12a888;
}
